/* estilização geral */
body {
    font-family: Arial, sans-serif;
    background-color: #0c4157;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#placar {
    font-size: 1.5em; 
    font-weight: bold; 
    text-align: center;
    color: white; 
    padding: 10px 20px; 
    border-radius: 10px; 
    box-shadow: 0.1px 4px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    display: inline-block;
    border: 0.4px solid black;
    background-color: rgba(0, 0, 0, 0.4)
 
}

/* estilização da mesa */
.mesa {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.jogador, .oponente {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cartas {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.cartas .card {
    position: relative;
}


.pontos {
    font-size: 1.2em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 5px;
}

/*estilização das cartas */
.card {
    width: 80px;
    height: 120px;
    background-color: white;
    color: black; /*cor padrão para espadas e paus*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 20px 9px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
}

/* cor vermelha para cartas de copas e ouros*/
.card[data-red="true"] {
    color: red;
}

/* estilização dos botões*/
button {
    background-color: #ececec;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s, background 0.3s;
}

/* estilização para melhorar os botões*/
.controles {
    display: flex;
    flex-direction: column;  
    gap: 10px;               
    margin-top: 10px;
}

button:hover {
    background-color: #FFC107;
    transform: scale(1.1);
}

/*estilização do resultado que vai ser impresso quando ocorrer vitoria,derrota ou empate*/
#resultado {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}